
.alkalicke_kovy {
    background-color: #cd1c1c; 
}

.kovy-alkalickych_zemin {
    background-color: #ff9100; 
}

.prechodne-kovy {
    background-color: violet; 
}

.kovy {
    background-color: blue; 
}

.polokovy {
    background-color: #98fbe4; 
}

.nekovy {
    background-color: #c5ee90; 
}

.halogeny {
    background-color: darkcyan 
}

.vzacne-plyny {
    background-color: #e4eb87; 
}

